$gradient: linear-gradient(90deg, rgb(255, 0, 0), rgb(200, 255, 0), rgb(0, 153, 255));
$red: #61714d;
/*HEADER*/
$h1: 3em;
$h2: 2em;
$h3: 1.5em;
$btn: 1.25em;
$yo: 1em;
$header-p-btns-color-hover: linear-gradient(0deg, #61714d, rgb(203, 223, 172));

/*PROYECTOS*/
$cards: 1.25em;