$gradient: linear-gradient(90deg, rgb(255, 0, 0), rgb(200, 255, 0), rgb(0, 153, 255));

$marron: #c2a887;
$marron-bg: rgb(194, 168, 135, 0.267);

$oro: #dfaf5e;
$oro-bg: rgba(223, 175, 93, 0.267);

$verde: #61714d;
$verde-bg: rgba(97, 113, 77, 0.267);

$verde-flojo: #8fae93;

$rojo: #6d152b;
$rojo-bg: rgba(109, 21, 43, 0.267);

/*HEADER*/
$h1: 3em;
$h2: 2em;
$h3: 1.5em;
$btn: 1.25em;
$yo: 1em;
$header-p-btns-color-hover: linear-gradient(0deg, #61714d, #8fae93);

/*PROYECTOS*/
$cards: 1.25em;