@import "variables", "clases", "animate";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::after, ::before {
  box-sizing: border-box;
}

/*BODY*/
.body{
  overflow-x: hidden; // animatecss-quitar barra debajo animacion inicio
  background-color: black; //animatecss-animacion inicio bg negro
  font-family: 'Josefin Slab', serif, Helvetica, Arial;
  scroll-behavior: smooth;
  // font-size: ;
}

/*HEADER*/
.header{
  position: relative;
  background:{
    color: black;
    // image: url('./src/img/headerbg4.jpg');
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  background: url('./src/img/headerbg4.jpg');
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  animation:{
    name: fadeIn-manual;
    duration: 0.5s;
  }
  @keyframes fadeIn-manual {
    0%{opacity:0;}
    100%{opacity:1;}
  }

  &__title{
    font-size: $h1;
    font-family: 'Poiret One', cursive, Helvetica, Arial, sans-serif;
    margin-bottom: 60px;
    animation:{
      name: backInDown;
      duration: 1s;
    }
  }
  &__p-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
      
    &__proyectos{
      @include p-btns();
      cursor: pointer;
      font-size: $btn;
      animation:{
        name: bounceInLeft;
        duration: 2s;
      }
    }
    &__cv{
      @include p-btns();
      cursor: pointer;
      font-size: $btn;
      animation:{
        name: bounceInRight;
        duration: 2s;
      }
    }
  }
  &__s-btns{
    position: absolute;
    bottom: 100px;
    left: 100px;

    &__yo{
      width: 100px;
      height: 100px;
      background-color: $verde-flojo-bg;
      border: 0px black solid;
      margin: 0px 20px;
      font-family: 'Josefin Slab', serif, Helvetica, Arial;
      font-size: $yo;
      font-weight: 600;
      border: 10px groove $verde;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.5s;
      color: black;
      animation:{
        name: zoomIn;
        duration: 1s;
      }
      &:hover{
        border: 16px groove $verde;
        font-size: 1.1em;
        background-color: $verde-flojo;
        transition: all 0.5s;
      }
    }
  }
  &__personal-links{
    position: absolute;
    bottom: 50px;
    right: 100px;
    
    &__linkedin{

      &__img{
        width: 50px;
        margin: 5px;
        // filter: drop-shadow(0px 0px 15px black);
        transition: .1s;

        &:hover{
          filter: drop-shadow(0px 0px 10px $verde);
          transition: .2s;
        }
      }
    }
    &__github{

      &__img{
        width: 50px;
        margin: 5px;
        // filter: drop-shadow(0px 0px 15px black);
        transition: .1s;

        &:hover{
          filter: drop-shadow(0px 0px 10px $verde-flojo);
          transition: .2s;
        }
      }
    }
  }
}
/*modal sin abrir*/
.modal-yo{
  visibility: hidden;
  left: -100%;
  position: absolute;
  z-index: 1;
/*modal abierto*/
  &:target{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    transition: left 1s;
  }
  /*modal contenido interior*/
  &__content{
    width: 700px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    background-color: white;
    background: url('/src/img/modalbg1.jpg');
    // filter: brightness(1.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
  
    &__foto{
      width: 150px;
      height: 170px;
      border-radius: 15px;
      margin: 15px;
      box-shadow: 6px 6px 16px 0px black;
      // border: 1px dashed grey;
    } // foto => 180px ancho.
    &__datos{
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;

      &__nombre{
        display: flex;
        flex-direction: row;
        margin-bottom: -16px;

        &--negrita{
          font-weight: bold;
        }
      }
      &__telefono__link{
        color: red;

        &:hover{
          color: purple;
        }
        &:active{
          color: red;
        }
        &:visited{
          color: purple;
        }
      }
      &__ciudad{
        display: flex;
        flex-direction: row;
        margin-bottom: -16px;
      }
      &__email__link{
        color: black;

        &:hover{
          color: purple;
        }
        &:active{
          color: red;
        }
        &:visited{
          color: purple;
        }

        &__span{
          color: red;
        }
      }
    }
    &__descripcion{
      width: 100%;
      height: 45%;
      padding: 20px;
      font-weight: 600;
    }
  }
  /*separacion entre li (> *{} hijos de la clase padre ..._datos)*/
  .modal-yo__content__datos > *{
    margin-left: -10%;
    padding-bottom: 10px;
  }
  /*boton close*/
  &__close{
    position: relative;
    display: block;

    &::after{
      right: 0rem;
      top: 2rem;
      width: 2rem;
      height: 2rem;
      transform: translate(-50%, -50%);
      position: absolute;
      display: flex;
      z-index: 1;
      align-items: center;
      justify-content: center;
      background-color: black;
      border-radius: 50%;
      border: 1px solid white;
      color: white;
      content: 'x';
      font-size: 1.2em;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
      /*¿se puede hover encima de ::after?*/
      // &:hover{
      //   border: 1px solid red;
      // }
    }
    /*superposicion boton close*/
    &::before{
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba(0,0,0,0.7);
      content: "";
      cursor: default;
    }
    &::before:hover{
      background-color: rgba(0,0,0,0.2);
      transition: all 0.5s;
    }
  }
}

/*HABILIDADES*/
.habilidades{
  background:{
    color: white;
    // image: url('/src/img/bg14.jpg');
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  background: url('/src/img/bg14.jpg');
  cursor: default;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;

  &__titulo{
    font-size: $h2;
    text-align: center;
    padding-top: 20px;
  }

  &__dev{
    @include forma();
    top: 75px;
    right: 100px;

    &:hover{
      @include forma-vuelta();
    }
    @keyframes vuelta {
      100%{
        transform: rotate(405deg);
      }
    }

    &__text{
      @include forma-text();
    }
  }

  // CONTENIDO BOOTSTRAP
  .accordion-container{
    margin-top: 60px;
    padding: 0px 100px;
    width: auto;
    height: 500px;
  }
  //div (class accordion item)
    .accordion, .accordion-flush{
      border: 1px solid $oro;
    }
    .accordion-item {
      background-color: $verde-bg;
      border: 1px solid $oro;
    }
    .accordion-button{
      transition: filter 1s;
      background: linear-gradient(90deg, $marron, $oro-bg);
      display: flex;
      justify-content: center;
      border: $oro 1px solid;
      
      &__p{
        padding: 0;
        margin: 0;
        font-weight: 700;
      }
    }
    .accordion-button:not(.collapsed) {
      color: black;
      filter: drop-shadow(6px 6px 10px black);
      transition: 1s;
  }
    .accordion-collapse, .show{
      display: flex;
      flex-direction: row;  
      background-color: $oro-bg;
    }
      .accordion-button:focus {
          border-color: $oro-bg;
          box-shadow: 0 0 0 0.25rem rgba(223, 175, 93, 0.6);
      }
    #flush-collapseOne, #flush-collapseTwo, #flush-collapseThree{
      border: $oro 1px solid;
    }
    .accordion-body{
      &__code{
        font-size: 1em;
        color: black;
        word-wrap: break-word;
        &__bar{
          @include bar();
          margin-bottom: 30px;
  
          &__color--bem{
            @include bar-color();
            width: 100%;
          }
          &__color--sass{
            @include bar-color();
            width: 75%;
          }
          &__color--bootstrap{
            @include bar-color();
            width: 35%;
          }
          &__color--animate{
            @include bar-color();
            width: 100%;
          }
          &__color--babel{
            @include bar-color();
            width: 40%;
          }
          &__color--webpack{
            @include bar-color();
            width: 50%;
          }
          &__color--gitbash{
            @include bar-color();
            width: 60%;
          }
          &__color--npm{
            @include bar-color();
            width: 25%;
          }
          &__color--wpbakery{
            @include bar-color();
            width: 45%;
          }
          &__color--slider-rev6{
            @include bar-color();
            width: 50%;
          }
        }
      }
    }

  &__certificaciones{
    background:{
      color: rgba(187, 187, 187, 0.8);
      size: cover;
      repeat: no-repeat;
      attachment: fixed;
      // blend-mode: difference;
    }
    background: url('/src/img/headerbg8.jpg');
    background-blend-mode: difference;
    // filter: invert(1);
    color: #fff;
    padding: 20px;
    margin: 50px 250px;
    text-align: center;
    border-radius: 15px;
    
    &__titulo{
      font-size: $h3;
      // font-weight: bold;
      list-style: none;
    }

    &__li{
      list-style-type: none;

      // &::before{
      //   content: "⤷ ";
      // }
    }
  }
}
.mas{
  background:{
    color: white;
    // image: url('/src/img/headerbg8.jpg');
    // image: url('/src/img/bg2.png');
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
    // blend-mode: difference;
  }
  background-image: url('/src/img/headerbg8.jpg');
  background-blend-mode: difference;
  // background-blend-mode: exclusion;
  color: black; //fallback
  color: white;
  height: 100%;
  position: relative;
  padding: 100px 0px 100px 0px;

  &__titulo{
    font-size: $h2;
    text-align: center;
    padding-top: 20px;
  }

  &__forma{
    @include forma();
    border-color: white;
    top: 150px;
    right: 100px;

    &:hover{
      @include forma-vuelta();
    }
    @keyframes vuelta {
      100%{
        transform: rotate(405deg);
      }
    }

    &__text{
      @include forma-text();
    }
  }
  &__datos{
    padding: 70px 30px;
    margin: 0 22%;

    &__biografia{

    }
    &__ul{
      margin: 0px 0px 0px 10px;

      &__li{
        list-style-type: none;

        &::before{
          content: "⤷ ";
        }
      }
    }
  }
  &__idiomas{
    padding: 0px 30px;

    &__castellano{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &__p{

      }
      &__bar{
        @include bar();
        border-color: white;

        &__color{
          @include bar-color();
          width: 100%;
        }
      }
    }
    &__catalan{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &__p{

      }
      &__bar{
        @include bar();
        border-color: white;
        &__color{
          @include bar-color();
          width: 100%;
        }
      }
    }
    &__ingles{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &__p{
        
      }
      &__bar{
        @include bar();
        border-color: white;
        &__color{
          @include bar-color();
          width: 50%;
        }
      }
    }
  }
  &__programas{
    padding: 0px 30px;

    &__photoshop{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &__p{

      }
      &__bar{
        @include bar();
        border-color: white;

        &__color{
          @include bar-color();
          width: 40%; 
        }
      }
    }
    &__premiere{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &__p{

      }
      &__bar{
        @include bar();
        border-color: white;

        &__color{
          @include bar-color();
          width: 30%; 
        }
      }
    }
    &__illustrator{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &__p{

      }
      &__bar{
        @include bar();
        border-color: white;

        &__color{
          @include bar-color();
          width: 15%; 
        }
      }
    }
  }
  &__descargar{
    display: flex;
    place-content: center;

    &__cv{
    @include p-btns;
    display: grid;
    place-content: center;
    color: white;
    text-decoration: none;
    width: 165px;
    height: 45px;
    // border: 1px solid white;

    &:hover{
      color: #fff;
      filter: drop-shadow(0px 0px 5px $verde);
    }
    }
  }
}
.mas-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-template-rows: 1fr;
  padding: 30px 0px;
}

.proyectos{
  // height: 100vh;

  &__titulo{
    font-size: $h2;
    text-align: center;
    padding: 20px 0px 10px 0px;
    margin: 0;
    background:{
      color: black;
      // image: url('/src/img/headerbg8.jpg');
      // image: url('/src/img/bg14.jpg');
      size: cover;
      repeat: no-repeat;
      attachment: fixed;
    }
    background: url('/src/img/bg14.jpg');
  }

  &__grid{
  background:{
    color: black;
    // image: url('/src/img/headerbg8.jpg');
    // image: url('/src/img/bg14.jpg');
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  background: url('/src/img/bg14.jpg');
  font-size: $cards;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

    &__item{
      width: 25em;
      height: auto;
      background: linear-gradient(360deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
      background: linear-gradient(360deg, rgba(0, 0, 0, .9), $oro);
      color: white;
      transition: 0.3s;
      margin-bottom: 30px;

      &:hover{
        opacity: 0.8;
        transition: 0.3s;
        cursor: pointer;
      }

      a{
        text-decoration: none;
        color: white;
        text-align: center;

        &:hover{
          color: white;
          opacity: 0.8;
          transition: 0.3s;
        }
      }
      &__1, &__2, &__3, &__4, &__5, &__6{
        // width: 100%;
        // height: 100%;
        opacity: 1;
        transition: opacity 0.3s;
        
      }
    }
  }
}
//SCROLL-UP
.scroll-up{
  position: fixed;
  z-index: 999;
  width: 70px;
  height: 70px;
  background-color: white;
  border: 5px solid $oro;
  border-radius: 50%;
  bottom: 20px;
  right: -100px;
  // sombra:
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0); 
  transition: all .4s ease-in;
  &:hover{
    box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.6);
    transform: scale(1.01);
    transition: all .2s;
  }
  &:active{
    transform: scale(0.9);
    transition: all .1s;
  }

  &__stick::after{
    content: '';
    color: $oro;
    border: 1px solid $oro;
    border-width: 10px 3px;
    border-radius: 0 0 3px 3px;
    position: relative;
    top: 23px;
    left: 28px;
  }
  &__arrow::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 0;
    height: 0;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: transparent transparent $oro;
  }
}
.scroll-up-in{
  right: 20px;
  transition: all .4s;
}


// Large devices (desktops, 992px and up)
// @media (max-width: 1200px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {
  /*MODAL*/
  .modal-yo{
  // /*modal abierto*/
    /*modal contenido interior*/
    &__content{
      width: 600px;
      height: 500px;
    }
  }

  /*HABILIDADES*/
  .habilidades{
    &__certificaciones{
      margin: 50px 150px;
    }
  }
  /*MAS*/
  .mas{
    padding: 50px 0px 100px 0px;
  }
  /*PROYECTOS*/
  // .proyectos{
  //   height: 100%;
  // }
}

// // Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  /*HEADER*/
  .header{
    &__s-btns{
    bottom: 100px;
    left: 50px;
    }
  }

  .modal-yo{
    /*modal contenido interior*/
    &__content{
      width: 400px;
      height: 600px;
    
      &__foto{
        width: 105px;
        height: 120px;
      }
      &__datos{
        margin-left: 10px;
      }
      &__descripcion{
        height: auto;
      }
    }
  }

  /*HABILIDADES*/
  .habilidades{
    &__dev{
      top: 100px;
      right: 50px;
    }
    &__certificaciones{
      margin: 50px 100px;
    }
  }
  .mas{
    &__forma{
      top: 100px;
      right: 50px;
    }
  }

  .proyectos{
    height: 100%;
  }
}

// (small phones, hasta 576px)
@media (max-width: 576px) {
  /*HEADER*/
  .header{
    &__title{
      text-align: center;
      margin-bottom: 30px; // antes 60px
    }
    &__p-btns{
      place-content: center;
        
      &__proyectos{
        margin-bottom: 20px;
      }
    }
    &__s-btns{
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translate(-50%);
    }
    &__personal-links{
      position: absolute;
      bottom: 30px;
      right: 50%;
      transform: translate(50%);

      &__linkedin__img, &__github__img{
          width: 30px;
      }
    }
  }
  .modal-yo{
    /*modal contenido interior*/
    &__content{
      width: 300px;
      height: 500px;
      flex-direction: column;
      place-items: center;
    
      &__foto{
        width: 100px;
        height: 110px;
        margin-bottom: 10px;
      }
      &__datos{
        width: 100%;
        font-size: 1em;
        padding: 0;
        margin: 0;
        margin-left: 10px;
        *{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;
          margin: 0;
          margin-bottom: 10px;
        }
      }
      &__descripcion{
        display: none;
      }
    }
  }
  /*separacion entre li (> *{} hijos de la clase padre ..._datos)*/
  .modal-yo__content__datos > *{
    margin: 0;
    padding: 0;
  }
  
  /*HABILIDADES*/
  .habilidades{
    padding: 20px 0px;

    &__titulo{
      font-size: $h2;
      text-align: center;
      padding-top: 0px;
    }

    &__dev{
      top: 70px;
      right: 20px;
    }

    &__certificaciones{
      color: white;
      padding: 20px;
      margin: 50px 50px;
      text-align: unset;
      border-radius: 15px;
    }
  }
  .mas{
    padding: 20px 0px;

    &__titulo{
      padding-top: 0px;
    }

    &__forma{
      top: 50px;
      right: 20px;
    }
    &__datos{
      padding: 30px 60px;
      margin: 0;
    }
  }
  /*PROYECTOS*/
  // .proyectos{
  //   height: 100%;

  //   &__grid{
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1fr 1fr 1fr;
  //   }
  // }
}
/*hasta dispositivos de 340px*/
@media (max-width: 340px){
  // CONTENIDO BOOTSTRAP
  .accordion-container{
    font-size: 0.9em;
  }
  /*PROYECTOS*/
  // .proyectos{
  //   height: 100%;

  //   &__grid{
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr 1fr 1fr 1fr;
  //   }
  // }
}
/*hasta dispositivos de 314px*/
@media (max-width: 314px){
  // CONTENIDO BOOTSTRAP
  .accordion-container{
    font-size: 0.7em;
  }
}
/*hasta dispositivos de 294px*/
@media (max-width: 294px){
  // CONTENIDO BOOTSTRAP
  .accordion-container{
    font-size: 0.6em;
  }
}

/*header horizontal boton modal*/
/*personal links static header horizontal*/
@media (max-height: 618px) {
  .header{
    height: 100%;

    &__s-btns{
      position: static;
      padding: 25px;
      transform: translate(-0%, 0%);
    }
    &__personal-links{
      position: static;
      transform: translate(-0%, 0%);
    }
  }
}
